<div class="account-pages my-4 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5 mycard ">
        <div class="card overflow-hidden">
          <div class="bg-primary bg-soft">
            <div class="row">
              <div class="col-7">
                <div class="text-primary p-4">
                  <h5 class="text-primary"> Reset Password</h5>
                  <p>Reset Password with B-Lang.</p>
                </div>
              </div>
              <div class="col-5 align-self-end">
                <img src="assets/images/profile-img.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div>
              <a routerLink="/">
                <div class="avatar-md profile-user-wid mb-4">
                  <span class="avatar-title rounded-circle bg-light">
                    <img src="assets\images\Logo.png.png" alt="" class="rounded-circle" height="34">
                  </span>
                </div>
              </a>
            </div>

            <div *ngIf="ShowEmail" class="p-2" style="height: 43.5vh;">
              <div class="alert alert-success text-center mb-4" role="alert">
                Enter your Email and instructions will be sent to you!
              </div>

              <form class="needs-validation" name="EmailForm" [formGroup]="EmailForm" (ngSubmit)="onSubmit()"
                novalidate>
                <alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</alert>
                <div class="mb-3">
                  <label for="email">Email</label>
                  <input type="email" formControlName="email" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email" placeholder="Enter email" />
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                  </div>
                </div>
                <div class="text-end mt-5">
                  <button class="btn btn-primary custom-btn-md" type="submit" style="width: 75px">Next</button>
                </div>
              </form>
            </div>

            <!-- ---------------------------OTP Form------------------------- -->

            <div *ngIf="ShowOTP" class="row mt-4 text-center" style="height: 43.5vh;">
              <p class="fw-bold fs-5">Verify Your Email</p>
              <div class="alert alert-success text-center mb-4" role="alert">
                Please enter the 6-digit code sent to {{ EmailForm.value.email }}
              </div>

              <form [formGroup]="OTPForm" (ngSubmit)="onOTPSubmit()">
                <ng-otp-input [config]="config" (onInputChange)="onOtpChange($event)"></ng-otp-input>
                <div class="col-auto">
                  <button (click)="resendOTP()" class="btn btn-link" style="font-size: 12px;">Resend
                    OTP?</button>
                  <span *ngIf="showCountdownTimer" style="font-size: 11px;">OTP Resend in {{
                    countdown }} seconds</span>
                </div>
                <div class="mt-4">
                  <div class="row justify-content-between">
                    <div class="col-auto">
                      <button (click)="back()" class="btn btn-primary custom-btn-md" style="width: 75px">Back</button>
                    </div>

                    <div class="col-auto">
                      <button type="submit" class="btn btn-primary custom-btn-md">Confirm</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>

            <!-- -------------------------Reset Form--------------------------- -->

            <!-- ShowReset Section -->
            <div *ngIf="ShowReset" class="p-2" style="height: 43.5vh;">
              <div class="alert alert-success text-center mb-4" role="alert">
                Enter the New Password to Reset....!
              </div>

              <form class="needs-validation" name="ResetForm" [formGroup]="ResetForm" (ngSubmit)="OnResetSubmit()"
                novalidate>
                <alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</alert>

                <!-- Password -->
                <div class="mb-3">
                  <label for="password">Password</label>
                  <input type="password" formControlName="password" class="form-control form-control-sm"
                    [ngClass]="{ 'is-invalid': ResetForm.get('password').invalid && (ResetForm.get('password').dirty || ResetForm.get('password').touched) }"
                    id="password" />
                  <div
                    *ngIf="ResetForm.get('password').invalid && (ResetForm.get('password').dirty || ResetForm.get('password').touched)"
                    class="invalid-feedback">
                    <div
                      *ngIf="ResetForm.get('password').errors.required && !ResetForm.get('password').errors.minlength && !ResetForm.get('password').errors.weakpassword">
                      Password is required
                    </div>
                    <div
                      *ngIf="ResetForm.get('password').errors.minlength && !ResetForm.get('password').errors.required && !ResetForm.get('password').errors.weakpassword">
                      Password must contain at least 8 characters
                    </div>
                    <div
                      *ngIf="ResetForm.get('password').errors.weakpassword && !ResetForm.get('password').errors.required && !ResetForm.get('password').errors.minlength">
                      Password must be a strong password
                    </div>
                  </div>
                </div>

                <!-- Confirm Password -->
                <div class="mb-3" >
                  <label for="ConfirmPassword">Re-Enter your Password</label>
                  <input type="password" formControlName="ConfirmPassword" class="form-control form-control-sm" required
                    [ngClass]="{ 'is-invalid': ResetForm.get('ConfirmPassword').invalid && ResetForm.get('ConfirmPassword').touched }"
                    id="ConfirmPassword" />

                  <div *ngIf="ResetForm.get('ConfirmPassword').invalid && ResetForm.get('ConfirmPassword').touched"
                    class="error-message text-danger" style="font-size: 11px;">Confirm Password is required</div>

                  <div *ngIf="ResetForm.hasError('passwordMismatch') && !ResetForm.get('ConfirmPassword').invalid"
                    class="error-message text-danger" style="font-size: 11px;">
                    Confirm Password does not match
                  </div>
                  <div
                    *ngIf="ResetForm.get('ConfirmPassword').invalid && ResetForm.get('ConfirmPassword').errors?.minlength"
                    class="error-message text-danger" style="font-size: 11px;">
                    Confirm Password should be at least 8 characters
                  </div>
                </div>

                <div class="text-end mt-3">
                  <button class="btn btn-primary custom-btn-md" type="submit" style="width: 75px">Reset</button>
                </div>
              </form>
            </div>

            <!-- ===============Confirmation=========== -->

              <div *ngIf="confirmation" style="height: 43.5vh;">
                <div class="row justify-content-center">
                  <div class="col-lg-6">
                    <div class="text-center">
                      <div class="mb-4 mt-2">
                        <i class="mdi mdi-check-circle-outline text-success display-4"></i>
                      </div>
                      <div>
                        <h3 style="font-size: 18px;">Reset Password Successfully</h3>

                        <div class="mt-4 text-center">
                          <p>Click Here to<a routerLink="/account/login"
                              class="font-size-14 text-primary class">
                              Login</a> </p>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

          </div> <!-- end card-body-->
        </div>
        <!-- end card -->
        <!-- <div *ngIf="ShowReset" class="mt-5 text-center">
          <p>Remember It ? <a routerLink="/account/login" class="fw-medium text-primary"> Sign In here</a> </p>
        </div> -->

      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->